<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dodolire">

    <!-- Permission réseau -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dodolire">

        <!-- MainActivity = page d'accueil, launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login / Inscription -->
        <activity android:name=".LoginActivity"    android:exported="false"/>
        <activity android:name=".RegisterActivity" android:exported="false"/>

        <!-- Formulaire -->
        <activity android:name=".FormActivity"     android:exported="false"/>

        <!-- Story -->
        <activity android:name=".StoryActivity"    android:exported="false"/>

        <!-- Profil -->
        <activity android:name=".ProfileActivity"  android:exported="false"/>

        <!-- Archives -->
        <activity android:name=".ArchiveActivity"  android:exported="false"/>

    </application>
</manifest>
